
.nameInputs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
}

.radioButtons {
    display: flex;
    gap: 50px;
    align-items: center;
}

.loginForm {
    width: 70%;
    min-width: 300px;
    max-width: 600px;
    margin: auto;
}