table {
    margin: auto;
    width: 80%;
    border-collapse: collapse;
}

td,
th {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
}

button {
    margin: 5px;
    padding: 5px;
}