
.checkBoxHolder {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
    margin: auto;
}

.form {
    width: 70%;
    min-width: 300px;
    max-width: 600px;
    margin: auto;
}